@inherits LayoutView
@using Microsoft.AspNetCore.Components.Web
@using ASL.LivingGrid.WebAdminPanel.Services
@namespace ASL.LivingGrid.WebAdminPanel.Components.Layout
@inject IJSRuntime JSRuntime
@inject ILocalizationService LocalizationService
@implements IDisposable
@using ASL.LivingGrid.WebAdminPanel.Components.Search

<div class="page">
    <div id="sidebarMenu" class="sidebar collapse show">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <ThemeToggle />
            <SearchBox />
            <UserInfo />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected override void OnInitialized()
    {
        LocalizationService.MissingTranslation += OnMissingTranslation;
    }

    private async void OnMissingTranslation(string key, string culture)
    {
        await JSRuntime.InvokeVoidAsync("toast.show", $"Missing translation: {key} ({culture})");
    }

    public void Dispose()
    {
        LocalizationService.MissingTranslation -= OnMissingTranslation;
    }
}
