@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inject SignInManager<IdentityUser> SignInManager

<div class="user-info">
    <AuthorizeView>
        <Authorized>
            <div class="dropdown">
                <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    <span class="oi oi-person"></span> @context.User.Identity?.Name
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Account/Manage">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><button class="dropdown-item" @onclick="LogoutAsync">Logout</button></li>
                </ul>
            </div>
        </Authorized>
        <NotAuthorized>
            <a href="/Account/Login" class="btn btn-outline-light">
                <span class="oi oi-account-login"></span> Login
            </a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private async Task LogoutAsync()
    {
        await SignInManager.SignOutAsync();
        Navigation.NavigateTo("/", true);
    }
}

<style>
    .user-info {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0.5rem 0;
    }
</style>
