@page "/oem-partner/about-menu"

<div class="page-container">
    <h2>OEM/White-label: About Menu Management</h2>
    <p>About menüsünde aşağıdaki bilgilendirme gösterilir:</p>
    <ul>
        <li>Author & Maintainer: <b>Vusal Azer oglu Mastaliyev</b></li>
        <li>Email: <b>mr.lasuv@gmail.com</b></li>
        <li>Phone: <b>+994513331383</b></li>
        <li>Role: <b>Lead Developer, System Architect, Enterprise Solution Lead</b></li>
    </ul>
    <span class="soon-message">Hazırlanır / Çox yaxında!</span>
</div>
