@page "/permission/export-import"

<div class="page-container">
    <h2>Permission System: Export/Import Policy Templates</h2>
    <p>Permission export/import as policy templates üçün demo UI və mock data.</p>
    <ul>
        <li>Template: <b>DefaultAdmin</b></li>
        <li>Template: <b>DefaultUser</b></li>
    </ul>
    <span class="soon-message">Hazırlanır / Çox yaxında!</span>
</div>
